################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Frontend/tmp/database/chatmemory
/src.v2/ProjectVico.V2.AppHost/appsettings.Production.json
