@inject IDocumentGenerationApiClient DocumentGenerationApiClient
@inject NavigationManager NavigationManager

<div class="exported-link-container">
    @if (InProgress)
    {
        <MudProgressCircular Color="Color.Secondary" Size="Size.Small" Indeterminate="true" />
    }

    @if (!InProgress && !string.IsNullOrWhiteSpace(DocumentUrl))
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Target="_blank" Href="@DocumentUrl">Download Word Document</MudButton>
    }
    else
    {
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnExportToWordClicked">Generate Word Export</MudButton>
    }
    
</div>

@code {
    [Parameter] public string? DocumentId { get; set; }
    string? DocumentUrl;
    bool InProgress = false;


    protected override async Task OnInitializedAsync()
    {
        // Gets the exported document URL if the document ID is provided
        // Returns a blank string if the exported document doesn't exist
        if (DocumentId != null)
            DocumentUrl = await DocumentGenerationApiClient.GetExportDocumentLinkAsync(DocumentId!);

    }

    private async Task OnExportToWordClicked()
    {
        InProgress = true;
        await InvokeAsync(StateHasChanged);
        DocumentUrl = await DocumentGenerationApiClient.GenerateExportDocumentLinkAsync(DocumentId);
        DocumentUrl = DocumentUrl!.Replace("\"", "");
        InProgress = false;
        await InvokeAsync(StateHasChanged);
    }
}
