@inject IDocumentProcessApiClient DocumentProcessApiClient
@inject IDialogService DialogService

<MudTable Items="Prompts" Hover="true" Striped="true">
    <HeaderContent>
        <MudTh>Short Code</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Text</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.ShortCode</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>
            @if (context.Text.Length > 350)
            {
                @context.Text.Substring(0, 350)
                <span>...</span>
            }
            else
            {
                @context.Text

            }
        </MudTd>
        <MudTd>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => EditPrompt(context)">Edit</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    [Parameter] public List<PromptInfo> Prompts { get; set; } = new();
    [Parameter] public EventCallback OnPromptEdited { get; set; }
    [Parameter] public Guid ProcessId { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (Prompts.Count == 0 && ProcessId != Guid.Empty)
        {
            Prompts = await DocumentProcessApiClient.GetPromptsByProcessIdAsync(ProcessId);
        }
    }

    private async Task EditPrompt(PromptInfo prompt)
    {
        var promptInfo = await DocumentProcessApiClient.GetPromptByIdAsync((Guid)prompt.Id!);
        await ShowEditPromptDialog(promptInfo, true);
    }

    private async Task ShowEditPromptDialog(PromptInfo prompt, bool isEditMode)
    {
        var parameters = new DialogParameters
        {
            { nameof(EditPromptDialog.Prompt), prompt },
            { nameof(EditPromptDialog.IsEditMode), isEditMode },
            { nameof(EditPromptDialog.OnPromptSaved), EventCallback.Factory.Create<Guid>(this, OnPromptSaved) }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true };

        DialogService.Show<EditPromptDialog>(isEditMode ? "Edit Prompt" : "Add Prompt", parameters, options);
    }

    private async void OnPromptSaved(Guid promptId)
    {
        var updatedPrompt = await DocumentProcessApiClient.GetPromptByIdAsync(promptId);

        if (Prompts.Count == 0)
        {
            Prompts = await DocumentProcessApiClient.GetPromptsByProcessIdAsync(ProcessId);
        }

        var index = Prompts.FindIndex(p => p.Id == updatedPrompt.Id);
        Prompts[index] = updatedPrompt;
        await InvokeAsync(StateHasChanged);
    }
}
