@using System.Text.RegularExpressions;
@using Markdig
@using Markdig.Extensions.AutoLinks
@using Markdig.Renderers.Html
@using Markdig.Syntax
@using Markdig.Syntax.Inlines

@code {
    [Parameter]
    public string Value { get; set; } = default!;
}

@{
    //We're not encoding the value here because we want to allow HTML in the markdown
    //var encodedValue = HttpUtility.HtmlEncode(Value ?? string.Empty);
    var encodedValue = Value;
    var markdownPipeline = new MarkdownPipelineBuilder()
                                    .UseAdvancedExtensions()
                                    .UseEmojiAndSmiley()
                                    .UseSmartyPants()
                                    .UseAutoLinks(options:new AutoLinkOptions()
                                    {
                                        OpenInNewWindow = true,
                                        UseHttpsForWWWLinks = true
                                       
                                    })
                                    .Build();
    
    MarkdownDocument document = Markdown.Parse(Value, markdownPipeline);

    foreach (LinkInline link in document.Descendants<LinkInline>())
    {
        link.GetAttributes().AddPropertyIfNotExist("target", "_blank");
    }

    foreach (AutolinkInline link in document.Descendants<AutolinkInline>())
    {
        link.GetAttributes().AddPropertyIfNotExist("target", "_blank");
    }

    string html = document.ToHtml(markdownPipeline);

    var markupValue = new MarkupString(html);

    // Add an extra line break to the end of each paragraph to make it easier to read
    markupValue = new MarkupString(Regex.Replace(markupValue.Value, @"</p>", "</p><br />"));

    if (!string.IsNullOrEmpty(markupValue.Value)){
        @markupValue
    }
}
