.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}

ol {
    margin-left: 0; /* Remove extra margin from the list */
    padding-left: 25px; /* Adjust padding to control the position of the list numbers */
    list-style-position: outside; /* Position numbers outside the text block */
    padding-bottom:15px;
    padding-top:0;
}

    ol li {
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove extra padding */
        text-indent: 0; /* Ensure no hanging indent */
        padding-left: 0; /* Align text directly under the first line */
        position: relative;
        line-height:1.4;
        padding-top:0px;
    }

        ol li::marker {
            font-weight: bold; /* Optional: to make the number bold */
        }

ul {
    margin-left: 0; /* Remove extra left margin */
    padding-bottom: 10px;
    padding-left: 25px; /* Adjust padding to position bullets */
    margin-top:0;
    padding-top:0;
    margin-bottom:0;
    list-style-type: disc; /* Display bullets */
    list-style-position: outside; /* Position bullets outside the text block */
}

    ul li {
        margin: 0; /* Remove any default margins */
        padding-top:2px;
        /*padding: 0;*/ /* Remove extra padding */
        line-height: 1.5; /* Optional: Adjust line height for readability */
        padding-left: 3px; /* Align subsequent lines with the first line's text */
    }

p {
    padding-top: 3px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    padding-top: 7px;
    margin: 0;
}

table{
    padding-bottom:20px;
    padding-top:0px;
    margin-bottom:0px;
    
}

table th{
    text-align:left;
    border-bottom:2px solid;
}

.sentiment-reasoning-tooltip {
    max-width: 225px !important;
    white-space: normal !important;
    height: auto !important;
    line-height: 1.5 !important;
}

    .sentiment-reasoning-tooltip .mud-tooltip-root {
        font-size: 16px !important;
        padding: 8px !important;
    }
