{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "AI": {
    "OpenAI": {
      "Endpoint": "",
      "Key": "",
      "CompletionModel": "",
      "EmbeddingModel": "",
      "SummarizationModel": ""
    },
    "CognitiveSearch": {
      "Endpoint": "",
      "Key": "",
      "TitleIndex": "index-01-titles",
      "SectionIndex": "index-01-sections",
      "SemanticSearchConfigName": "smr-semantic-search-config",
      "VectorSearchProfileName": "smr-vector-search-profile",
      "VectorSearchHnswConfigName": "smr-hnsw-config"
    },
    "DocumentIntelligence": {
      "Endpoint": "",
      "Key": ""
    }
  },
  "Ingestion": {
    "BlobStorageAccountName": "",
    "BlobStorageAccountKey": "",
    "BlobStorageConnectionString": "",
    "BlobStorageContainer": "ingest",
    "PerformClassification": "false",
    "ClassificationModelName": "nrc-classifier"
  },
  "ConnectionStrings": {
    "IngestionBlobConnectionString": ""
  }
}