@page "/"
@page "/chat"
@using BlazorAddIn.Models
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row">
        <div class="col msg-window-container">
            <div class="card" id="msgWindow">
                <div class="card-header"><span class="card-title">Copilot chat</span></div>
                <div class="card-body" id="msgs" style="min-height:600px" >
                    @foreach (var msg in Messages)
                    {
                        <div class="msg @(msg.MessageDirection == Direction.From ? "from" : "to")">
                            @msg.Text
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="input-group" id="msgForm" data-sender="me">
                        <input class="form-control" type="text" placeholder="Type message and hit [Enter] to send." @bind="userInput" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @onclick="@(() =>ProcessUserInput())">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string? userInput { get; set; }
    public List<Message> Messages { get; set; } = new List<Message>();
    public IJSObjectReference JSModule { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            Messages.Add(new Message { Text = "Hello! How can I assist you today? You are my favorite customer", MessageDirection = Direction.From });
        });
    }

    private async Task ProcessUserInput()
    {
        Messages.Add(new Message { Text = userInput, MessageDirection = Direction.To });
        string? docContext = await GetDocumentText();
        string? skResponse = CallSKPLugin(userInput, docContext);
        userInput = String.Empty;    
        Messages.Add(new Message { Text = skResponse, MessageDirection = Direction.From });
        await InsertDocumentText(skResponse);
    }
    
    private string? CallSKPLugin(string? userInput, string? docContext)
    {
        // mock SK plugin call
        return $"I am a response from SK plugin for this input: {userInput} with the following context: {docContext}";
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            JSModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Chat.razor.js");
        }
    }

    internal async Task InsertDocumentText(string? skResponse) =>
            await JSModule.InvokeVoidAsync("insertDocumentText", skResponse);

    internal async Task<string?> GetDocumentText() =>
          await JSModule.InvokeAsync<string>("getDocumentText");

}  
