{
  "AI": {
    "OpenAI": {
      "Endpoint": "",
      "Key": "",
      "CompletionModel": "",
      "EmbeddingModel": "",
      "SummarizationModel": ""
    },
    "CognitiveSearch": {
      "Endpoint": "",
      "Key": "",
      "TitleIndex": "index-01-titles",
      "SectionIndex": "index-01-sections",
      "SemanticSearchConfigName": "smr-semantic-search-config",
      "VectorSearchProfileName": "smr-vector-search-profile",
      "VectorSearchHnswConfigName": "smr-hnsw-config"
    },
    "DocumentIntelligence": {
      "Endpoint": "",
      "Key": ""
    }
  },
  "NrcFileProcessor": {
    "NrcFileProcessing": {
      "RunNrcFileProcessor": false,
      "AzureStorageConnectionString": "",
      "CsvFileName": "EnterFilenameHere.csv",
      "CsvFileContainerName": "EnterContainerNameHoldingCsvFileHere",
      "UploadContainerName": "ContainerNameToCachePDFs"
    }
  }
}