{
  "IsEncrypted": false,
  "Host": {
    "LocalHttpPort": 7172,
    "CORS": "*",
    "CORSCredentials": false
  },
  "Values": {
    "OpenApi__Version": "v3",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "AzureMapsKey": ""
}