{
  "IsEncrypted": false,
  "Host": {
    "LocalHttpPort": 7171,
    "CORS": "*",
    "CORSCredentials": false
  },
  "Values": {
    "OpenApi__Version": "v3"
  },
  "AI": {
    "OpenAI": {
      "Endpoint": "",
      "Key": "",
      "CompletionModel": "smrlicensegpt35-16k",
      "EmbeddingModel": "smrlicenseembeddingada002"
    },
    "CognitiveSearch": {
      "Endpoint": "",
      "Key": "",
      "Index": "section-embeddings"
    }

  }
}