{
  "IsEncrypted": false,
  "Host": {
    "LocalHttpPort": 7171,
    "CORS": "*",
    "CORSCredentials": false
  },
  "Values": {
    "OpenApi__Version": "v3",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
  },
  "AI": {
    "OpenAI": {
      "Endpoint": "",
      "Key": "",
      "CompletionModel": "",
      "EmbeddingModel": "",
      "SummarizationModel": ""
    },
    "CognitiveSearch": {
      "Endpoint": "",
      "Key": "",
      "TitleIndex": "",
      "SectionIndex": "",
      "Index": "",
      "SemanticSearchConfigName": "",
      "VectorSearchProfileName": "",
      "VectorSearchHnswConfigName": ""
    },
    "DocumentIntelligence": {
      "Endpoint": "",
      "Key": ""
    }
  }
}