name: v2-deploy

on:
  workflow_dispatch:

# GitHub Actions workflow to deploy to Azure using azd
# To configure required secrets for connecting to Azure, simply run `azd pipeline config`

# Set up permissions for deploying with secretless Azure federated credentials
# https://learn.microsoft.com/en-us/azure/developer/github/connect-from-azure?tabs=azure-portal%2Clinux#set-up-azure-login-with-openid-connect-authentication

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    env:
      AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Delete infra folder if present
        run: rm -rf infra

      - name: Set up infra folder based on deployment model
        run: |
          if [ "${{ env.DEPLOYMENT_MODEL }}" == "public" ]; then
            cp -r infra.public infra
          else
            cp -r infra.private infra
          fi
        env:
          DEPLOYMENT_MODEL: ${{ vars.DEPLOYMENT_MODEL }}

      - name: Activate azure-ci.yaml for CI/CD deployment
        run: |
          rm -f azure.yaml
          cp azure-ci.yaml azure.yaml

      - name: Install AZD
        uses: Azure/setup-azd@v1.0.0

      - name: Install text-based browsers for AZD authentication
        run: |
          sudo apt update -y
          sudo apt install lynx links2 elinks w3m -y

      - name: Log in with Azure (Client Credentials)
        if: ${{ env.AZURE_CREDENTIALS != '' }}
        run: |
          info=$(echo "${AZURE_CREDENTIALS}" | jq -r '.')
          client_id=$(echo "${info}" | jq -r '.appId // .clientId')
          client_secret=$(echo "${info}" | jq -r '.password // .clientSecret')
          tenant_id=$(echo "${info}" | jq -r '.tenant // .tenantId')

          azd auth login \
            --client-id "${client_id}" \
            --client-secret "${client_secret}" \
            --tenant-id "${tenant_id}"
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Provision Infrastructure
        run: azd provision --no-prompt
        env:
          AZD_INITIAL_ENVIRONMENT_CONFIG: ${{ secrets.AZD_INITIAL_ENVIRONMENT_CONFIG }}

      - name: Deploy Application
        run: azd deploy --no-prompt
